<h1>Edit Cohort: <%= @cohort.start_date %> </h1>
<div>
<%= form_for @cohort do |f| %>
  <%= f.label "Start date: " %>
  <%= f.text_field :start_date %>
  <br>
  <%= f.label "Nickname: " %>
  <%= f.text_field :nickname %>
  <br>
  <%= f.label "Students: " %>
  <br>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :name, {:include_blank => false}, {:multiple => true} %>
  <%= f.submit %>
<% end %>
</div>
