<div class="page-headers">
  <h3>Cohorts#new</h3>
</div>
<div class="well">
  <%= form_for @cohort do |f| %>
    <div class="form-group" style="height:300px; width:300px;">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class:"form-control" %>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class:"form-control" %>
      <%= f.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
