<h1>Cohort: <%= @cohort.start_date %></h1>
<h4><%= @cohort.nickname %></h4>
<div class="well">
  <h3>Students</h3>
  <div class="list-group">
    <ol>
    <% @cohort.users.each do |u| %>
      <li><%= link_to u.name, user_path(u), class: "list-group-item" %></li>
    <% end %>
    </ol>
  <%= link_to "Edit", edit_cohort_path, class:"btn btn-warning" %>
  <%= link_to "Delete", cohort_path(@cohort), method: :delete, class:"btn btn-danger" %>
</div>
