<h1>Cohorts</h1>
<div>
<%= @cohort.start_date %>
<%= @cohort.nickname %>
<% @cohort.users.each do |u| %>
<ul>
  <li><%= u.name %></li>
</ul>
<% end %>
<%= link_to "Edit", edit_cohort_path %>
<%= link_to "Delete", cohort_path(@cohort), method: :delete %>
</div>
