<div class="row">
  <div class="col-sm-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>New Comment</strong>
      </div>
      <div class="panel-body">
        <%= form_for(Comment.new) do |f| %>
          <%= f.hidden_field :page_type, value: page.class %>
          <%= f.hidden_field :page_id, value: page.id %>
          <%= f.hidden_field :author_id, value: current_user.id %>
          <div class="row">
            <div class="col-sm-9" align="center">
              <%= f.text_area :content, style: "width: 100%" %>
            </div>
            <div class="col-sm-3" align="center">
              <%= f.submit "Add Comment", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div><!-- /row -->
