<div class="well">
  <h3>Comments</h3>
  <br>
  <div class="container">
    <% page.comments.each do |comment| %>
    <div class="row">
      <div class="hidden-xs col-sm-1">
        <div class="thumbnail">
          <%= link_to comment.author do %><%= image_tag(comment.author.image || "https://ssl.gstatic.com/accounts/ui/avatar_2x.png", class: 'img-responsive') %><% end %>
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= link_to comment.author.name, user_path(comment.author_id) %></strong>

            <span id="like" class="pull-right">
            <% if comment.thumb_up_users.include?(current_user)%>
              <% @comment = comment %>
              <% @thumb = Thumb.find_by(user_id: current_user.id, comment_id: comment.id, like: true) %>
              <%= render 'thumbs/destroy' do |f|%>
                <button type="submit" class="glyphicon glyphicon-thumbs-up text-primary" style="text-shadow: 1px 1px 3px blue; background-color: transparent; border: transparent">
                </button>
              <% end %>
            <% else %>
              <% @comment = comment %>
              <%= render 'thumbs/new' do |f| %>
                <%= f.hidden_field :like, value: true %>
                <button type="submit" class="glyphicon glyphicon-thumbs-up text-primary" style='; background-color: transparent; border: transparent'>
                </button>
              <% end %>
            <% end %>
            +<%= comment.likes %>
            &nbsp; &nbsp;
            <% if comment.thumb_down_users.include?(current_user)%>
              <% @comment = comment %>
              <% @thumb = Thumb.find_by(user_id: current_user.id, comment_id: comment.id, like: false) %>
              <%= render 'thumbs/destroy' do |f|%>
                <button type="submit" class="glyphicon glyphicon-thumbs-down text-primary" style="text-shadow: 1px 1px 3px blue; background-color: transparent; border: transparent">
                </button>
              <% end %>
            <% else %>
              <% @comment = comment %>
              <%= render 'thumbs/new' do |f| %>
                <%= f.hidden_field :like, value: false %>
                <button type="submit" class="glyphicon glyphicon-thumbs-down text-primary" style='; background-color: transparent; border: transparent'>
                </button>
              <% end %>
            <% end %>
            -<%= comment.dislikes %>
            </span>

          </div>

          <div class="panel-body">
            <%= comment.content %>
          </div><!-- /panel-body -->
          <div class="panel-heading">
            <span class="text-muted"><%= comment.time %></span>
            <% if current_user == comment.author || is_admin? %>
            <span class="pull-right">

              <%= form_for(comment, method: :delete) do |f| %>
                <%= f.hidden_field :page_type, value: page.class %>
                <%= f.hidden_field :page_id, value: page.id %>
                <%= f.hidden_field :author_id, value: current_user.id %>
                <%= f.submit "delete", class: 'btn btn-warning btn-xs' %>
              <% end %>

            </span>
            <% end %>
          </div>

        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->
    <% end %>

    <%= render 'comments/form' %>

  </div><!-- /container -->
</div>
