<div class="well">
  <h1><%= @group.name %></h1>
  <p><%= @group.description %></p>

  <div class="btn-gorup pull-right">
    <%= link_to "Edit Group", edit_group_path, class:"btn btn-warning" %>
    <%= link_to "Delete Group", group_path, method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger" %><br><br>
  </div>

  <%= link_to "<<", groups_path, class:"btn btn-primary" %>
</div>
<hr>
<div class="well well-sm">
  <div class="pull-right">
    <% if is_creator? %>
    <% elsif is_member? %>
      <%= link_to "Leave Group", leave_group_path, method: :delete, class:"btn btn-warning" %>
      <% else %>
      <%= link_to "Join Group", join_group_path, method: :post, class:"btn btn-success" %>
    <% end %>
  </div>
  <h3>Members</h3>
  <ul>
    <li><%= link_to @group.creator.name, user_path(@group.creator) %> (creator)</li>
    <% @group.users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
</div>
