<h1>Update Info</h1>
<div>
  <%= render 'form', user: @user do |f| %>
    <%= f.label :github_account %>
    <%= f.text_field :github, class:"form-control"  %>
    <%= f.label :image_url %>
    <%= f.text_field :image, class:"form-control" %>

    <% if is_admin? %>
      <%= f.label :admin %>
      <%= f.check_box :admin  %>
    <% end %>

  <% end %>
</div>
