<div class="panel-heading"><h2><%= is_self?(@user) ? "Your" : "#{@user.name}'s" %> Profile</h2></div>

<div class="row">
  <div class="col-sm-2">
    <div class="well" align="center">
      <%= image_tag(@user.image || "https://ssl.gstatic.com/accounts/ui/avatar_2x.png", size: '100', class: 'img-responsive') %>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="well">
      <table class="table table-striped">
        <tr>
          <td style="width: 20%;"><strong>Name: </strong></td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td><strong>Email: </strong></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><strong>Github Account: </strong></td>
          <td><%= link_to "#{@user.github}", "#{@user.github}" %></td>
        </tr>
        <tr>
          <td><strong>Cohort Start Date: </strong></td>
          <td><%= @user.cohort.start_date %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div id="buttons" style="margin-left: 20px;">
  <% if is_self?(@user) %>
    <%= link_to "See Friends", show_friends_path, class:"btn btn-info" %> &nbsp;	&nbsp;
    <%= link_to "Edit", edit_user_path, class:"btn btn-primary" %>
  <% elsif !is_friend? %>
    <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post, class:"btn btn-primary" %>
  <% elsif is_friend? %>
    <%= link_to "Remove Friend", friendship_path(:friend_id => @user), :method => :delete, class:"btn btn-primary" %>
  <% end %>
  <% if is_admin? %>
    &nbsp; &nbsp; <%= link_to "Delete", @user, method: :delete, class:"btn btn-danger" %>
  <% end %>
</div>

<br>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#comments" data-toggle="tab" aria-expanded="true">Comments</a></li>
    <li class=""><a href="#project" data-toggle="tab" aria-expanded="false">Projects</a></li>
    <li class=""><a href="#group" data-toggle="tab" aria-expanded="false">Groups</a></li>
    <li class=""><a href="#event" data-toggle="tab" aria-expanded="false">Events</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="comments">
      <div style="margin-top: 20px">
        <%= render "comments/show" %>
      </div>
    </div>
    <div class="tab-pane fade" id="project">
        <% @user.projects.each do |project| %>
        <div class="list-group">
          <h1><%= link_to "#{project.name}", project_path(project), class:"list-group-item" %></h1>
            <p class="list-group-item-text"> <%= project.description %> </p>
        </div>
        <% end %>
    </div>
    <div class="tab-pane fade" id="group">
      <% @user.groups.each do |group| %>
      <div class="list-group">
        <h1><%= link_to "#{group.name}", group_path(group), class:"list-group-item" %></h1>
          <p class="list-group-item-text"> <%= group.description %> </p>
      </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="event">
      <% @user.events.each do |event| %>
      <div class="list-group">
        <h1><%= link_to "#{event.name}", event_path(event), class:"list-group-item" %></h1>
          <p class="list-group-item-text"> <%= event.description %> </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
