<% proverb = "" %>
<% if @user == current_user %>
  <% proverb = "Your" %>
<% end %>

<div class="panel-heading"><h2><%= proverb %> Profile</h2></div>
<div class="well" style="width: 60%;">
  <table class="table table-striped">
    <tr>
      <td style="width: 30%;"><strong>Name: </strong></td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td><strong>Email: </strong></td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><strong>Github Account: </strong></td>
      <td><%= @user.github %></td>
    </tr>
    <tr>
      <td><strong>Cohort Start Date: </strong></td>
      <td><%= @user.cohort.start_date %></td>
    </tr>
  </table>
</div>

<div style="margin-left: 20px;">
  <% if @user == current_user %>
    <br><%= link_to "Edit", edit_user_path, class:"btn btn-primary" %>	&nbsp;	&nbsp;
    <%= link_to "See Friends", show_friends_path, class:"btn btn-primary" %>
  <% elsif !is_friend? %>
    <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post, class:"btn btn-primary" %>
  <% elsif is_friend? %>
    <%= link_to "Remove Friend", friendship_path(:friend_id => @user), :method => :delete, class:"btn btn-primary" %>
  <% end %>

  <% if is_admin? %>
    <%= link_to "Delete", @user, method: :delete %>
  <% end %>
</div>
