<div class="well">
  <h1><%= @event.name %></h1>
  <h2>Location: <%= @event.location %></h2>
  <h3><%= @event.pretty_date %> at <%= @event.pretty_time %></h3>
  <p><%= @event.description %></p>

<% if is_creator? || is_admin? %>
  <div class="btn-gorup pull-right">
    <%= link_to "Edit Event", edit_event_path, class:"btn btn-warning" %>
    <%= link_to "Delete Event", event_path, method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger" %><br><br>
  </div>
<% end %>

  <%= link_to "Back", events_path, class:"btn btn-primary" %>
</div>
<hr>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#comments" data-toggle="tab" aria-expanded="true">Comments</a></li>
    <li class=""><a href="#attendees" data-toggle="tab" aria-expanded="false">Attendees</a></li>
    <li class=""><a href="#maps" data-toggle="tab" aria-expanded="false">Map</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <!-- Comment tab -->
    <div class="tab-pane fade active in" id="comments">
      <%= render "comments/show" %>
    </div>
    <!-- Attendies tab -->
    <div class="tab-pane fade" id="attendees">
      <div class="well well-sm">
        <div class="pull-right">
          <% if is_creator? %>
          <% elsif is_member? %>
            <%= link_to "Leave Event", leave_event_path, method: :delete, class:"btn btn-warning" %>
            <% else %>
            <%= link_to "Join Event", join_event_path, method: :post, class:"btn btn-success" %>
          <% end %>
        </div>
        <div style="margin-left:12px"><h3>Attending</h3></div>
        <ul>
          <li><%= link_to @event.creator.name, user_path(@event.creator) %> (creator)</li>
          <% @event.members.each do |member| %>
            <li><%= link_to member.name, user_path(member) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- Maps tab -->
    <div class="tab-pane fade" id="maps">
      <style>
        #map {
          width: 100%;
          height: 500px;
          background-color: grey;
          overflow: visible;
        }
      </style>
      <div class="well">
        <h3>My Google Maps</h3>
        <div id="map"></div>
      </div>
      <script>
        initMap()
      </script>
    </div>
    <!-- Map tab end -->

  </div>
</div>
