<div class="well">
  <%= form_for(@project) do |f| %>
    <div class="form-group">
    <%= f.label "Project Name: " %>
    <%= f.text_field :name, class:"form-control" %>
    <br>
    <%= f.label "Project Description: " %>
    <%= f.text_area :description, class:"form-control" %>
    <br>
    <%= f.label "Github Repo Name: " %>
    <%= f.text_field :github, class:"form-control" %>
    <br>
    <%= f.label "Project Members: " %>
    <br>
    <%= yield f %>
    <br><br>
    <%= f.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
