<div class="page-headers">
  <h1>Edit Project: <%= @project.name %></h1>
</div>

<%= render 'form', project: @project do |f| %>
  <%= f.collection_check_boxes :user_ids, @other_members, :id, :name, {class: "form-control"} do |b| %>
    <%= b.label class:"label-checkbox"%> &nbsp;
    <%=b.check_box%> &nbsp; &nbsp;
  <% end %>
  <br><br><%= f.label :add_members %>
  <%= f.collection_select :user_ids, @not_member, :id, :name, {:include_blank => false}, {:multiple => true, class: "form-control"} %>
<% end %>
