<h1>Create a New Project</h1>

<%= form_for(@project) do |f| %>
  <%= f.label "Project Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label "Project Description: " %>
  <%= f.text_area :description %>
  <br>
  <%= f.label "Github Link: " %>
  <%= f.text_field :github %>
  <br>
  <%= f.label "Project Members: " %>
  <br>
  <%= f.collection_select :user_ids, @other_students, :id, :name, {:include_blank => false}, {:multiple => true}  %>
  <br>
  <%= f.submit %>
<% end %>
