<h1><%= @project.name %></h1>
<h2>Memebers: <%= @project.members %></h2>
<h3>Github: <%= link_to "https://github.com/#{@project.github}", "https://github.com/#{@project.github}" %></h3>
<h3>Description:</h3>
<p><%= @project.description %></p>

<%= link_to "Edit", edit_project_path %>
<br>
<%= link_to "Delete", project_path, method: "delete" %>
