<div>
  <% if current_user %>
    <div class="jumbotron" align="center">
      <h1>Welcome <%= current_user.name.capitalize %>!</h1>
      <p>...</p>
      <p><%= link_to "Learn more", current_user, class: "btn btn-primary btn-lg" %></p>
    </div>
  <% else %>
    <div class="signup">
      <h1>Sign Up</h1>
      <%= render '/users/form', user: @user do |f| %>
        <br><%= f.label :cohort_start_date %><br>
        <%= f.collection_select(:cohort_id, @cohorts, :id, :start_date, prompt: true) %><br>
      <% end %>
    </div>
  <% end %>
</div>
