<div>
  <% if current_user %>
    <div class="jumbotron" align="center">
      <h1>Welcome, <%= current_user.name %>!</h1>
      <p>...</p>
      <p><%= link_to "View Profile", current_user, class: "btn btn-primary btn-lg" %></p>
    </div>
  <% else %>
    <div class="signup">
      <h1>Sign Up</h1>
      <%= render '/users/form', user: @user do |f| %>
        <br><%= f.label :cohort_start_date %><br>
        <%= f.collection_select(:cohort_id, @cohorts, :id, :start_date, prompt: true, class: "form-control") %><br>
      <% end %>
      <h1>Or login with: </h1>
      <%= link_to 'auth/twitter' do %><%= image_tag('http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png', width: '100', height: '100', class: 'img-rounded') %><% end %>
      <%= link_to 'auth/github' do %><%= image_tag('http://www.freeiconspng.com/uploads/github-icon-1.png', width: '100', height: '100', class: 'img-rounded') %><% end %>
      <%= link_to 'auth/google_oauth2' do %><%= image_tag('http://jet-s.ru/images/stories/googleplus.png', width: '100', height: '100', class: 'img-rounded') %><% end %>
    </div>
  <% end %>
</div>
