<!DOCTYPE html>
<html>
  <head>
    <title>Flatbook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Metamorphous" >
  </head>

  <body>
    <!-- Navbar Begin -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Flatbook", root_path, class: "navbar-brand" %>
        </div>

      <!-- Links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Cohorts", cohorts_path %></li>
            <li><%= link_to "Groups", groups_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
          </ul>

          <!-- Right Nav Begin-->
          <ul class="nav navbar-nav pull-right">
            <% if current_user == nil %>
              <div style="margin-top: 10px">
                <%= form_tag login_path, method: :post do %>
                 <%= text_field_tag :email, nil, placeholder: "email" %>
                 <%= password_field_tag :password, nil, placeholder: "password" %>
                 <%= submit_tag "Login", class:"btn btn-primary" %>
                <% end %>
              </div>
            <% else %>
              <li><%= link_to "Search", users_path %></li>
              <li><%= link_to "Signed in as #{current_user.name.capitalize}", current_user %></li>
              <li><%= link_to "Log Out", logout_path, method: :delete, class:"btn btn-outline-default" %></li>
            <% end %>
          </ul>
          <!-- Right Nav End -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>
    <!-- Navbar End -->

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
